.c-login_principal {
  background-color: #1e1e1e;
  display: flex;
  place-content: center;
  padding-top: 120px;
  padding-bottom: 120px;
}
.c-login_container{
  display: flex;
  border-radius: 8px;
  box-shadow: -2px 8px 18px -8px #141414;
}
.c-login_container__box_banner,.c-login_container__box_inputs {
  width: min(500px, 100vw);
}
.c-login_container__box_banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  background-color: #141414;
  border-radius: 8px 0 0 8px;
}
.e-box_banner__title {
  font-size: 7rem;
  font-weight: 100;
}
.e-box_banner__subtitle {
  font-size: 2.3rem;
}
.c-login_container__box_inputs {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 8px 8px 0;
  position: relative;
}
.e-box_inputs__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10rem;
}
.e-box_inputs__title {
  margin-top: 2rem;
  font-size: min(7rem, 15vw);
  font-weight: 100;
  color: #141414;
}
.e-form__input_box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.e-form__input_box label {
  font-size: min(2rem, 5vw);
  color: #141414;
}

.e-form__ipunt_box__input {
  border: none;
  border-radius: 7px;
  box-shadow: 0 .2rem 1.4rem 5px #7e7b7b;
  padding: 1.2rem 1rem;
  width: min(60vw, 30rem);
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-size: min(1.8rem, 4vw);
}
.e-form__button {
  padding: 1.2rem 4.4rem;
  border: none;
  background-color: #141414;
  color: #fff;
  border-radius: 6px;
  font-size: 1.9rem;
  cursor: pointer;
  transition: background .3s ease-in-out;
  box-shadow: 0 9px 1.6rem -8px #141414;
  margin-top: 30px;
}
.e-form__button:hover {
  background-color: transparent;
  color: #141414;
  box-shadow: 0px 0px 0px 2px #141414;
}
.e-form__link_register {
  font-weight: 400;
  font-size: min(1.5rem, 4vw);
  text-align: center;
  color: #141414;
}
.e-form__link_register__link {
  font-weight: 600;
  color: #081030;
  
}
@media(max-width: 1037px) {
  .c-login_container__box_banner {
    display: none;
  }
  .c-login_container{
    box-shadow: 2px 0px 57px -12px #141414;
  }
  .c-login_container__box_inputs {
    border-radius: 8px;
  }

  .e-box_inputs__form {
    padding: 3rem;
  }

  .e-form__ipunt_box__input {
    margin-top: 10px;
  }
}