.c-principal__marcas{
  padding-top: 160px;
  padding-bottom: 120px;
}

.e-marcas__banner{
  display: flex;
  justify-content: center;
  background-image: url('../../img/banners/image8.png');
  padding-top: 200px;
  padding-bottom: 200px;
}

.e-marcas__banner__title{
 font-size: 15rem;
 text-align: center;
}

.e-marcas__banner__title::after{
  content: "";
  width: 100%;
  display: block;
  background: #fff;
  height: 10px;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}


@media(max-width:1000px){
  .e-marcas__banner__title{
    font-size: 10rem;
    text-align: center;
   }
}

@media(max-width:800px){
  .e-marcas__banner__title{
    font-size: 5rem;
    text-align: center;
   }
}