.c-header {
  background-color: #141414;
  width: 100%;
  position:fixed;
  padding: 1rem 2.5rem;
  top: 0;
  left: 0;
  z-index: 9999;
}

.c-header__menu {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.e-menu__title {
  font-size: 35px;
}

.e-menu__list,
.e-menu__imgs {
  display: flex;
  align-items: center;
  gap: 30px;
}

.menu__list__item {
  font-size: 16px;
  letter-spacing: 4.5px;
  padding: 2.6rem 2rem;
}

.menu__list__item a {
  position: relative;
}

.menu__list__item a::before {
  content: "";
  width: 0;
  height: 3px;
  border-radius: 15px;
  background-color: #fff;
  cursor: pointer;
  transition: 0.3s;
  position: absolute;
  top: 25px;
}

.menu__list__item a:hover::before {
  width: 100%;
}

.e-menu__btn-hambuger {
  display: none;
}

.e-menu__btn-hambuger {
  background: none;
  border: none;
  color: #fff;
  display: flex;
}

@media (max-width: 1000px) {
  .e-menu__imgs {
    gap: 20px;
  }
  .e-menu__list {
    display: block;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 45px;
    right: 0;
    z-index: 1000;
    background: #141414;
    height: 0;
    visibility: hidden;
    overflow-y: hidden;
    transition: 0.4s ease-in;
  }
  
  .e-menu__list.isActiveMenu {
    height: calc(100vh - 45px);
    visibility: visible;
  }

  .menu__list__item a:hover::before {
    width: 0;
  }

  .menu__list__item{
    border-bottom: 2px solid #1e1e1e;
  }

  .menu__list__item:hover {
    background: #1c1c1c;
  }

  .e-menu__btn-hambuger {
    cursor: pointer;
  }

  .e-btn-hambuger__icon {
    width: 30px;
    border-top: 3px solid #fff;
  }

  .e-btn-hambuger__icon::before,
  .e-btn-hambuger__icon::after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 6px;
    position: relative;
    transition: 0.3s;
  }

  .e-menu__list.isActiveMenu ~ .e-menu__imgs .e-menu__btn-hambuger .e-btn-hambuger__icon{
    border-top-color: transparent;
  }
  .e-menu__list.isActiveMenu ~ .e-menu__imgs .e-menu__btn-hambuger .e-btn-hambuger__icon::before{
    transform: rotate(135deg);
  }
  .e-menu__list.isActiveMenu ~ .e-menu__imgs .e-menu__btn-hambuger .e-btn-hambuger__icon::after{
    transform: rotate(-135deg);
    top: -8.5px;
  }
}

@media (max-width: 500px) {
  .e-menu__title {
    font-size: 25px;
  }

  .e-btn-hambuger__icon, 
  .e-btn-hambuger__icon::before,
  .e-btn-hambuger__icon::after,
  .e-menu__imgs img{
    width: 25px;
  }
}

