* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

:root {
    font-size: 62.2%;
}

a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
}

span{
    display: inline-block;
}

ul {
    list-style: none;
    position: relative;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

.u-container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 160px;
    padding-bottom: 160px;
}

.u-button_type-1 {
    text-align: center;
    text-transform: capitalize;
    padding: 1.2rem 4.4rem;
    border: none;
    background-color: #141414;
    color: #fff;
    border-radius: 6px;
    font-size: 1.9rem;
    cursor: pointer;
    transition: background .3s ease-in-out;
    box-shadow: 0 9px 1.6rem -8px #141414;
    margin-top: 30px;
  }
  .u-button_type-1:hover {
    background-color: transparent;
    color: #141414;
    box-shadow: 0px 0px 0px 2px #141414;
  }

.u-button_type-2{
    text-align: center;
    text-transform: capitalize;
    padding: 1.2rem 4.4rem;
    border: 3px solid #141414;
    background-color: transparent;
    color: #000;
    border-radius: 6px;
    font-size: 1.9rem;
    cursor: pointer;
    transition: background .3s ease-in-out;
    box-shadow: 0 9px 1.6rem -8px #141414;
    margin-top: 30px;
}

.u-button_type-2:hover{
    background-color: #141414;
    color: #fff;
}

.u-completed_register,
.u-error_register{
    border-radius: 6px;
    padding: 5px 10px;
    color: #fff;
    font-size: 2rem;
    position: absolute;
    opacity: 0;
    animation: fadeMsg 1s ease-in-out ;
    transition: opacity 1s;
}

.u-error_register{
    background: red;
}

.u-completed_register{
    background: green;
}


.col-2{
    grid-column: 1/-1;
    place-self: center;
}

.incorrect_input--active{  
    color: red;
    font-size: min(1.5rem, 4vw);
    text-align: center;
}



@media(max-width:1000px){
    .u-container {
        padding-top: 100px;
        padding-bottom: 60px;
    }
}
