
.e-cards__conteudo {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 60px;
  padding: 0 160px;
}

.e-cards__title {
  font-size: 10rem;
  max-width: 50rem;
  margin: 100px;
  color: #141414;
}

.e-cards__conteudo__item {
  border-radius: 10px;
  filter:drop-shadow(0 10px 15px rgba(0, 0, 0, 0.747));
  transition: .3s ease-in-out;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.e-cards__conteudo__item > img:hover, 
.e-cards__conteudo__item__title:hover + img{
  filter: brightness(70%);
}
.e-cards__conteudo__item:hover {
  transform: translateY(-10px);
}

.e-cards__conteudo__item__title {
  color: #fff;
  font-weight: 100;
  font-size: 4rem;
  position: absolute;
  letter-spacing: 10px;
}

.e-cards__conteudo__item img {
  border-radius: 8px;
  filter: brightness(30%);
  transition: .3s;
  cursor: pointer;
  position: relative;
  z-index: -10;
} 