.c-principal__carrosel {
  background: linear-gradient(#141414 65%, #ffff 35%);
}

.e-carrosel__conteudo {
  display: flex;
  gap: 30px;
  position: relative;
}

.e-carrosel__conteudo__button {
  background: none;
  border: none;
  cursor: pointer;
}

.e-carrosel__conteudo__slider{
  overflow: hidden;
  width: 1500px;
  display: grid;
  align-items: end;
  position: relative;
}

.e-slide{
  width: 400%;
  display: flex;
  align-items: end;
}

.e-slide__item{
  width: 25%;
  position: relative;
}

.e-slide__item img{
  width: 1300px;
}

.e-navigation{
  display: flex;
  justify-self: center;
  gap: 30px;
  padding: 20px;
  position: absolute;
}

input{
  display: none;
}

label{
  display: block;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  padding: 10px;
  background: transparent;
  border: 3px solid #ffff;
  cursor: pointer;
}

label:hover{
  background: #ffff;
  transition: 0.5s;
}

#slide1:checked ~ .first {
  margin-left: 0px;
  transition: 0.5s ease;
}

#slide2:checked ~ .first {
  margin-left: -25%;
  transition: 0.5s ease;
}

#slide3:checked ~ .first {
  margin-left: -50%;
  transition: 0.5s ease;
}

.e-navigation-auto div{
  border: 3px solid;
  border-radius: 100%;
  padding: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.e-navigation-auto {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 30px;
  padding: 20px;
}

#slide1:checked ~ .e-navigation-auto .auto-btn-1 {
  background: #ffff;
}

#slide2:checked ~ .e-navigation-auto .auto-btn-2 {
  background: #ffff;
}

#slide3:checked ~ .e-navigation-auto .auto-btn-3 {
  background: #ffff;
}
