.c-principal__marcas{
  padding-top: 160px;
  padding-bottom: 120px;
}

.e-marcas__banner{
  display: flex;
  justify-content: center;
  background-image: url('../../img/banners/image8.png');
  background-position: center;
  padding-top: 160px;
  padding-bottom: 160px;
}

.e-marcas__banner__title{
  font-size: min(10rem, 10vw);
  text-align: center;
  position: relative;
}

.e-marcas__banner__title::after{
  content: "";
  width: 100%;
  display: block;
  background: #fff;
  height: min(0.5vh);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}


@media(max-width:500px){
  .e-marcas__banner{
    padding-top: 120px;
    padding-bottom: 120px;
  }
}