.c-principal__marcas {
  width: 100%;
  height: 100vh;
  position: relative;
  margin-top: 360px;
}
.e-marcas__banner{
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: 100vw 100%;
  display: flex;
  background-image: url('../../img/banners/image8.png');
  justify-content: center;
  place-items: center;
  align-items: center;
}
.e-marcas__banner__title {
  font-size: 70px;
  padding: 0 30px;
  position: relative;
}
.e-marcas__banner__title::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 8px;
  background-color: #fff;
  inset: 0;
  top: 85px;
}
.e-marcas__bannerimg {
  width: 100%;
  height: 100%;
}