.e-box_inputs__form-cadastro {
  padding: 10rem;
}

.e-form__cadastro-1__container-inputs,
.e-form__cadastro-2__container-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.c-cadastro_container {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}

.e-form__title {
  text-transform: capitalize;
  font-size: min(6rem, 13vw);
}

.e-form__cadastro-1, .e-form__cadastro-2{
  display: grid;
  justify-content: center;
  gap: 30px;
}

.e-form__cadastro-2__buttons {
  justify-self: center;
  text-align: center;
  display: flex;
  gap: 30px;
}

.u-form__cadastro--hidden {
  display: none;
}
