@keyframes fadeTopAnimation {
  0%{
    transform: translate(-50%, -10px);
    opacity: 0;
  }
  50%{
    transform: translate(-50%, -5px);
    opacity: 0.5;
  }
  100%{
    transform: translate(-50%, 0px);
    opacity: 1;
  }
}